.navbar-nav .nav-link {
  color: white;
}

.navbar-nav .nav-link.btn-light {
  background-color: #ffffff;
  color: #000000;
}

.navbar-toggler-icon {
  width: 6vw;
  max-width: 30px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav .nav-link.btn-primary {
  background-color: #f1396d;
  color: #ffffff;
}

.logo-img {
  width: 6vw !important;
  max-width: 50px;
}

.logo-text span {
  font-size: 0.5em;
  color: #f1396d;
}

body {
  background-color: #fbc5d8;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

form {
  width: 100%;
  background-color: #382f32;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh 2vw;
  border-radius: 3%;
}
