.navbar-nav .nav-link {
  color: white;
}

.navbar-nav .nav-link.btn-light {
  background-color: #ffffff;
  color: #000000;
}

.navbar-toggler-icon {
  width: 6vw;
  max-width: 30px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav .nav-link.btn-primary {
  background-color: #f1396d;
  color: #ffffff;
}

.logo-img {
  width: 6vw !important;
  max-width: 50px;
}

.logo-text span {
  font-size: 0.5em;
  color: #f1396d;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./images/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(0.6);
  z-index: -1;
}

.hero h2 {
  color: white;
  margin: 0 20px;
}

#Sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: justify;
}

#Sobre > div {
  width: 50%;
}

.sobre-p {
  margin: 8vh auto;
}

.relatos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.relatos-descTexto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.relatos-fotoNome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.relatos-p {
  width: 25%;
  margin: 0 40px;
}

.relatos-main {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 1000px) {
  .relatos {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .relatos-descTexto {
    flex-basis: 48%;
  }
}
